.app{
  height:100vh;
  background-color: rgb(200, 187, 211);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  height:400px;
  width:600px;
  background-color: rgb(10, 5, 16);
}

.list{
  display: flex;
   justify-content: space-between;
  align-items: center; 
}
.para{
  color:white;
  
}